body{
  width: 100%;
  margin: 0 auto;

}
#a-propos{
  background-color: black;
}
header{
  margin: 0 auto;
  position: fixed;
  width: 85%;
  justify-content: space-between;
padding-bottom: 15em;
z-index: 10;

}
.fixi{
  position: fixed;
  z-index: -1;
  overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    height: 100%;
    top: 20%;
    left: 0;
}
.fixi2{
  margin: 0 auto;
  position: fixed;
  z-index: -1;
  overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    height: 100%;
    left: 8%;
    top: 4%;

}
.scroll{
  width: 85%;
}
.dessus{
  position: absolute;
  z-index:2;
  background-color: black;
  top: 55%;
  width: 100%;
  min-height: 12%;


}
.dessus2{
  position: absolute;
  z-index:2;
  background-color: black;
  top: 117%;
    width: 100%;
    min-height: 12%;



}
.item{
padding-right: 3em;
display: inline-block;
vertical-align: middle;
}

.logo,.header{
  display: inline-block;
  vertical-align: middle;
}

#rect{
  width: 10%;
  margin-right: 3em;
  height: 1px;
  background-color: white;
}
.studio{
text-align: center;
  align-self: center
}
#menu1{
  float: right;
    align-self: center
}
.bottom{
  padding-bottom: 3.3em;
}
#bottom{
  padding-bottom: 1em;
}
.centre{
  text-align: center;

}
.bouton{
  padding: 20px;
  border: 1px solid white;
  border-radius: 50%;
  max-width: 182px;
  text-align: center;
  margin: 2em auto;
  margin-top: 50px;
}
.bouton:hover{
  border: 0px solid white;
  font-style: italic;
  background-color: white;
  color: black;
}
#seeportfolio{
  border-radius: 50%;

  border: 1px solid white;
  padding-top: 122px;
  padding-bottom: 122px;
  padding-right: 110px;
  padding-left: 110px;
}
#seeportfolio:hover{
  font-family: "ogg";
  font-style: italic;
  padding-right: 105px;
  padding-left: 105px;
background-color: white;
border: none;
color: black;
}

footer{
  background-color: black;
  padding-top: 10em;
padding-left: 7.5em;
padding-right: 7.5em;
opacity: 0.8;
}
footer h1{
  margin: 0;
  padding: 0;
  color: var(--orange-color);
  font-size: 2em;

}
footer h3{
    font-size: 1.5em;
}

footer hr {
  margin-bottom: 2em;

}


.copyright{
  margin-top: 2em;
  opacity: 1;
  color: rgba(255,255,255,0.2);
  padding-bottom: 3em;
  font-size: 1em;
}


.espace{
  margin-top: 4.5em;

}

/*-------------Accueil*/
.baseline{
  width: 75%;
  padding-bottom:1em;
  padding-top:3em;
}
.ligne{
  height:150px;
  width: 0px;
  border: solid 0.5px white;
  margin: 0 auto;
  justify-content: center;

  }
  .indic{
    margin-top: 1.5em;
    overflow: visible;
  }
  .ligne2{
    height:200px;
    width: 0px;
    border: solid 0.5px white;
margin-bottom: 3em;
  }
.bonjour{
  justify-content: center;
  padding-top: 200px;
}
.gauche{
  margin-top: 27em;

}
.droite{
  margin-top: 5em;
}
.projet{
  padding-bottom: 8em;
}
#section1, #section2, #section3{
  max-width: 85%;
  margin: 0 auto;
}
#section1 {
padding-top: 4em;
padding-bottom: 10em;
}
#sectionpropos{

}
#section3{
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
  align-items: center;
  padding-bottom: 7em;
}
#section4{
  background-color: black;
  max-width: 100%;
  padding: 7.5%;

}

#section4 p, #section4 h5, #section4 h2{
  color: white;
}


.spe h5{
  margin-bottom: 25px;
}
.specialite{
  padding-bottom: 12em;
  padding-top: 10em;
  max-width: 80%;
  margin: 0 auto;
}

/*-------------menu*/
.pages{padding-top: 7em;}
.pages h1{
color: black;
text-align: right;
padding-top: 0.3em;
}
.pages h1:hover{
color: var(--orange-color);

}
.infosmenu{
  display: block;
}
.infos{
  float: right;
  text-align: right;
}
footer .reseaux{
  float: right;
}
.contenumenu{
  justify-content: space-between;

}

.overlay{
  position: fixed;
  margin: 0 auto;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index:1;
  display:none;
  background-color: var(--dark-grey-color);

}
.popup{
  padding: 5em;
margin: 0 auto;
width : 100%;
width: 85%;
overflow:hidden;
position: relative;
}
.popup h3{
  color: white;
}

/*-------------portfolio*/
.nomprojet{
  text-align: center;
}
.projets{
  padding-top: 6em;
  padding-bottom: 6em;
  align-items: center;
  overflow: hidden;
}
.projetstrav{
  padding-top: 2em;
}
.nomprojet h1{
  padding: 0;
  margin: 0;
  vertical-align: center;
}
#projetsportfolio{
  margin-top: 4em;
  margin-bottom: 3em;
}


/*-------------Page projet*/

.coequipiers{
  padding-top: 4em;

}
.pourenvoirplus{

  width: 100%;
  margin: 0 auto;

  padding-bottom: 5em;
  padding-top: 5em;
  background-color: var(--beige-color);
}
.pourenvoirplus-inte{
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#espacebas{
margin-top: 10em;
}

.pageprojet{
  margin: 0 auto;
  width: 85%;
  padding-top: 6em;
}
.client, .date{margin-top: 10px;}
.entete h1{
  margin-bottom: 0.5em;
}


/*-------------Suivant - Précédent*/
.suivantprecedent{
  width: 50%;
  padding-top: 15em;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.retour{
  margin-top: 50px;
}
.suivprec{
  display: inline-block;
  vertical-align: middle;
}

#suivant, #precedent{
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid white;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-right: 48px;
  padding-left: 48px;
}
#suivant:hover, #precedent:hover{
  background-color: var(--orange-color);
  color: black;
  font-family: "ogg";
  font-style: italic;
  border: 0px solid white;
}

/*-------------decodeur*/
.gauchedecodeur{
float: right;
}
.droitedecodeur{
  padding-top: 11em;
}
.deco{
  padding-bottom: 2.5em;
  float: right;
}
/*-------------regate*/
.description h3{
  display: block;
  padding-top: 0.4em;
  padding-bottom: 0.2em;
  color: white;
}

/*-------------musee romanite*/

.romanite2{
width:624px;
 height:624px;
}
.romaniteright{
  width:351px;
   height:624px;
}
.flex{
  display: flex;
  justify-content: space-between;
}
/*-------------a propos*/

.description{
  max-width: 500px;
  transform: translate(3em, -3em);
}
.description h5, .description p {color: white;}
#white{
  color: white;
}


#flashlight {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background: #ffffff;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease-out;
  mix-blend-mode: difference;
  z-index: 100;
}
