/*low resolution tablets, mobiles (landscape)*/
@media (min-width: 381px) and (max-width: 767px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0px;
  }

  p {
    font-size: 0.9em;
    line-height: 1.5em;
  }

  h1 {
    font-size: 6.5em;
    line-height: 1.3em;
  }

  h2 {
    font-size: 3em;
  }

  h3 {
    font-size: 2em;
    line-height: 1.5em;
  }

  h4 {
    font-size: 1.5em;
    line-height: 30px;
  }

  h5 {
    font-size: 1.5em;
    line-height: 1.5em;
    font-weight: 300;
  }

  h6 {
    line-height: 2em;
    text-transform: uppercase;
    font-size: 14px;
  }

  /* FOOTER ________________________________*/
  footer {
    padding-top: 70px;
    padding-bottom: 30px;
  }

  footer h1 {
    margin-bottom: 20px;
  }

  #questioncontact {
    display: none;
  }

  #infoscontact {
    display: block;
  }

  .cafe, .telephone, .mail {
    margin-left: 0px;
    margin-top: 15px;
  }

  #moyenscontact {
    display: block;
    margin-top: 70px;
  }

  /* MENU ________________________________*/
  .entree-menu a {
    padding-left: 20px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    border: none;
  }

  /*HOME ____________________________________________________________________________________*/
  /*BASELINE __________________*/
  #section-1 {
    position: relative;
    top: 60%;
    width: 92%;
    margin: 0 auto;
  }

  #baseline {
    margin-top: 5%;
    display: block;
  }

  #relatif {
    display: none;
  }

  #designer {}

  #experiences {
    text-align: left;
  }

  .expertises {
    display: flex;
  }

  .expertises .expertise {
    margin-right: 30px;
  }

  /* EXPERTISES __________________*/
  #expertises {
    padding-top: 30px;
    max-width: 100%;
    display: block;
  }

  .identitevisuelle {
    min-width: 100%;
    margin-top: 20px;
  }

  .medias {
    min-width: 100%;
    margin-top: 20px;
  }

  .print {
    min-width: 100%;
    margin-top: 20px;
  }

  /*PROJETS ________________________________*/
  #section-2 {
    width: 100%;
    margin: 0 auto;
    margin-top: 100px;
  }

  #archive {
    align-items: baseline;
    display: block;
    padding-top: 10px;
    padding-bottom: 15px;
  }

  #archive h4 {
    margin-top: 0px;
    font-size: 1.2em;
  }

  #tagbouton {
    margin-top: 2px;
    grid-column: 1/4;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  #tagbouton .bouton-secondaire h5 {
    display: none;
  }

  #tagbouton .bouton-secondaire img {
    transform: rotate(-90deg);
  }

  #clientarchive {}

  #datearchive {}

  #clientarchive {}

  /* BIOGRAPHIE ________________________________*/
  #section-3 {
    padding-top: 10em;
    padding-bottom: 30px;
    display: block;
  }

  #phototxt {
    grid-column: 1 / 5;
    align-items: flex-end;
  }

  #biographie {
    grid-column: 1 / 5;
    text-align: left;
    padding-top: 40px;
  }

  /*VOUS AIMEREZ AUSSI ____________________________________________________________________________________*/
  #section-4 {
    padding-bottom: 20px;
  }

  /* PHOTOS ________________________________ */
  .img-slider {
    max-width: 400px;
  }

  .img-slider-vert {
    max-width: 400px;
  }

  /* PAGE PROJET ________________________________ */
  .projet {
    display: block;
  }

  .galerie-projet {
    width: 100%;
    margin-top: 40px;
    padding-left: 0;
  }

  .info-projet {
    display: block;
    width: 100%;
    margin-top: 20px;
  }

  .video-par2 {
    margin-top: 20px;
    display: block;
    width: 100%;
  }

  #musee-horiz {
    width: 100%;
    min-height: 500px;
    margin-top: 20px;
  }

  #musee-carre {
    width: 100%;
    min-height: 500px;
  }

  #musee-vertical {
    width: 100%;
    min-height: 800px;
  }
}

@media (min-width: 768px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0px;
  }

  p {
    font-size: 0.9em;
    line-height: 1.5em;
  }

  h1 {
    font-size: 7.2em;
    line-height: 1.2em;
  }

  h2 {
    font-size: 3.3em;
    line-height: 1.5em;
  }

  h3 {
    font-size: 2em;
    line-height: 1.5em;
  }

  h4 {
    font-size: 1.5em;
    line-height: 30px;
  }

  h5 {
    font-size: 1.5em;
    line-height: 1.8em;
    font-weight: 300;
  }

  h6 {
    line-height: 2em;
    text-transform: uppercase;
    font-size: 14px;
  }

  /* FOOTER ________________________________*/
  footer {
    padding-top: 70px;
    padding-bottom: 30px;
  }

  footer h1 {
    margin-bottom: 20px;
  }

  #questioncontact {
    display: none;
  }

  #infoscontact {
    display: block;
  }

  .cafe, .telephone, .mail {
    margin-left: 0px;
    margin-top: 15px;
  }

  #moyenscontact {
    display: block;
    margin-top: 70px;
  }

  /* MENU ________________________________*/
  .entree-menu a {
    padding-left: 20px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    border: none;
  }

  /*HOME ____________________________________________________________________________________*/
  /*BASELINE __________________*/
  #section-1 {
    position: relative;
    top: 60%;
    width: 92%;
    margin: 0 auto;
  }

  #baseline {
    margin-top: 5%;
    display: block;
  }

  #relatif {
    display: none;
  }

  #designer {}

  #experiences {
    text-align: left;
  }

  .expertises {
    display: flex;
  }

  .expertises .expertise {
    margin-right: 30px;
  }

  /* EXPERTISES __________________*/
  #expertises {
    padding-top: 30px;
    max-width: 100%;
    display: block;
  }

  .identitevisuelle {
    min-width: 100%;
    margin-top: 20px;
  }

  .medias {
    min-width: 100%;
    margin-top: 20px;
  }

  .print {
    min-width: 100%;
    margin-top: 20px;
  }

  /*PROJETS ________________________________*/
  #section-2 {
    width: 100%;
    margin: 0 auto;
    margin-top: 100px;
  }

  #archive {
    align-items: baseline;
    display: block;
    padding-top: 10px;
    padding-bottom: 15px;
  }

  #archive h4 {
    margin-top: 0px;
    font-size: 1.2em;
  }

  #tagbouton {
    margin-top: 2px;
    grid-column: 1/4;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  #tagbouton .bouton-secondaire h5 {
    display: none;
  }

  #tagbouton .bouton-secondaire img {
    transform: rotate(-90deg);
  }

  #clientarchive {}

  #datearchive {}

  #clientarchive {}

  /* BIOGRAPHIE ________________________________*/
  #section-3 {
    padding-top: 10em;
    padding-bottom: 30px;
    display: block;
  }

  #phototxt {
    grid-column: 1 / 5;
    align-items: flex-end;
  }

  #biographie {
    grid-column: 1 / 5;
    text-align: left;
    padding-top: 40px;
  }

  /*VOUS AIMEREZ AUSSI ____________________________________________________________________________________*/
  #section-4 {
    padding-bottom: 20px;
  }

  /* PHOTOS ________________________________ */
  .img-slider {
    max-width: 400px;
  }

  .img-slider-vert {
    max-width: 400px;
  }

  /* PAGE PROJET ________________________________ */
  .projet {
    display: block;
  }

  .galerie-projet {
    width: 100%;
    margin-top: 40px;
    padding-left: 0;
  }

  .info-projet {
    display: block;
    width: 100%;
    margin-top: 20px;
  }

  .video-par2 {
    margin-top: 20px;
    display: block;
    width: 100%;
  }

  #musee-horiz {
    width: 100%;
    min-height: 500px;
    margin-top: 20px;
  }

  #musee-carre {
    width: 100%;
    min-height: 500px;
  }

  #musee-vertical {
    width: 100%;
    min-height: 800px;
  }
}

@media (min-width: 1025px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 0px;
  }

  p {
    font-size: 0.9em;
    line-height: 1.5em;
  }

  h1 {
    font-size: 6em;
    line-height: 0.9em;
  }

  h2 {
    font-size: 4em;
    font-weight: normal;
  }

  h3 {
    font-size: 2.1em;
    line-height: 1.5em;
  }

  h4 {
    line-height: 30px;
    font-size: 1.3em;
  }

  h5 {
    font-size: 0.9em;
    line-height: 1.5em;
  }

  h6 {
    line-height: 2em;
    font-size: 14px;
  }

  footer {
    margin-top: 3em;
    padding-bottom: 30px;
  }

  footer h1 {
    margin-bottom: 100px;
  }

  #questioncontact {
    display: block;
    max-width: 130px;
    padding-bottom: 10px;
  }

  #moyenscontact {
    display: flex;
  }

  #infoscontact {
    display: flex;
    align-items: flex-end;
  }

  .cafe, .telephone, .mail {
    margin-left: 30px;
    margin-top: 10px;
  }

  /* MENU ________________________________*/
  .entree-menu {
    margin-left: 50px;
  }

  .entree-menu a {
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: none;
  }

  /*HOME ________________________________*/
  /*BASELINE____________________________________________________________________________________*/
  #section-1 {
    width: 92%;
    margin: 0 auto;
  }

  #baseline h1 {
    font-size: 5.5em;
    line-height: 1.2em;
  }

  .inline {
    display: inline-flex;
  }

  #relatif {
    position: relative;
    top: 40%;
    left: 70px;
  }

  #designer {
    grid-column: 1 / 9;
  }

  #experiences {
    grid-column: 3 / 11;
  }

  #expertises {
    padding-top: 70px;
    max-width: 60%;
  }

  /*PROJETS ________________________________*/
  #section-2 {
    width: 100%;
    margin: 0 auto;
    margin-top: 100px;
  }

  .projet-slider {
    margin-left: 0;
  }

  #archive {
    align-items: baseline;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #clientarchive {
    grid-column: 2 / 5;
  }

  #datearchive {
    grid-column: 1;
  }

  #tagbouton {
    align-items: baseline;
    grid-column: 5/11;
    display: flex;
    justify-content: space-between;
  }

  #tagbouton .bouton-secondaire h5 {
    display: contents;
  }

  #clientarchive {
    grid-column: 2 / 5;
  }

  /* BIOGRAPHIE ____________________________________________________________________________________*/
  #section-3 {
    padding-top: 10em;
    padding-bottom: 3em;
    display: flex;
  }

  #biographie {
    grid-column: 6 / 11;
    }

  #phototxt {
    grid-column: 1 / 4;
    align-items: flex-end;
  }

  /*VOUS AIMEREZ AUSSI ____________________________________________________________________________________*/
  #section-4 {
    padding-bottom: 70px;
  }

  /* PHOTOS ________________________________ */
  .img-slider {
    max-width: 700px;
  }

  .img-slider-vert {
    max-width: 350px;
  }

  /* PAGE PROJET ________________________________________*/
  .projet {
    display: flex;
    justify-content: space-between;
  }

  .galerie-projet {
    width: 50%;
    padding-left: 5%;
    margin-top: 0px;
  }

  .info-projet {
    display: block;
    width: 30%;
    margin-top: 20px;
    align-items: top;
    justify-content: flex-start;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 10%;
    height: 20%;
  }

  .video-par2 {
    margin-top: 20px;
    display: block;
    width: 100%;
  }

  #musee-horiz {
    width: 100%;
    min-height: 500px;
    margin-top: 20px;
  }

  #musee-carre {
    width: 100%;
    min-height: 500px;
  }

  #musee-vertical {
    width: 100%;
    min-height: 800px;
  }
}

@media (min-width: 1281px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 0px;
  }

  p {
    font-size: 0.9em;
    line-height: 1.5em;
  }

  h1 {
    font-size: 6em;
    line-height: 1em;
  }

  h2 {
    font-size: 4em;
  }

  h3 {
    font-size: 2.6em;
    line-height: 1.4em;
  }

  h4 {
    font-size: 1.3em;
    line-height: 30px;
  }

  .projet-card h4 {
    font-size: 2em;
    line-height: 30px;
  }

  h5 {
    font-size: 0.9em;
    line-height: 1.5em;
  }

  h6 {
    line-height: 2em;
    font-size: 14px;
  }

  /* MENU ________________________________*/
  .entree-menu {
    margin-left: 50px;
  }

  .entree-menu a {
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: none;
  }

  /* FOOTER ________________________________*/
  footer {
    margin-top: 8em;
    margin-bottom: 10px;
  }

  footer h1 {
    margin-bottom: 2em;
  }

  #questioncontact {
    max-width: 130px;
  }

  #moyenscontact {
    display: flex;
  }

  #infoscontact {
    display: flex;
  }

  .cafe, .telephone, .mail {
    margin-left: 40px;
  }

  /*HOME ________________________________*/
  /*BASELINE____________________________________________________________________________________*/
  #baseline h1 {
    font-size: 7em;
    line-height: 1em;
  }

  #section-1 {
    width: 92%;
    margin: 0 auto;
  }

  .inline {
    display: inline-flex;
  }

  #relatif {
    position: relative;
    top: 40%;
    left: 70px;
  }

  #designer {
    grid-column: 1 / 9;
  }

  #experiences {
    grid-column: 3 / 11;
  }

  #expertises {
    padding-top: 3em;
    max-width: 40%;
    display: flex;
  }

  /*PROJETS ________________________________*/
  #section-2 {
    width: 100%;
    margin: 0 auto;
    margin-top: 150px;
  }

  #archive {
    align-items: baseline;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #clientarchive {
    grid-column: 2 / 5;
  }

  #datearchive {
    grid-column: 1;
  }

  #tagbouton {
    align-items: baseline;
    grid-column: 6/11;
    display: flex;
    justify-content: space-between;
  }

  #tagbouton .bouton-secondaire h5 {
    display: contents;
  }

  #clientarchive {
    grid-column: 2 / 5;
  }

  /*BIOGRAPHIE____________________________________________________________________________________*/
  #section-3 {
    padding-top: 10em;
    padding-bottom: 150px;
  }

  #phototxt {
    grid-column: 1 / 4;
    align-items: flex-end;
  }

  #biographie {
    grid-column: 6 / 11;
  }

  /*VOUS AIMEREZ AUSSI ____________________________________________________________________________________*/
  #section-4 {
    padding-bottom: 85px;
  }

  /* PHOTOS ________________________________ */
  .img-slider {
    max-width: 800px;
  }

  .img-slider-vert {
    max-width: 450px;
  }

  .projet-slider {}

  /* PAGE PROJET ________________________________________*/
  .projet {
    display: flex;
    justify-content: space-between;
  }

  .galerie-projet {
    width: 60%;
    padding-left: 5%;
    margin-top: 0px;
  }

  .info-projet {
    display: block;
    width: 30%;
    margin-top: 20px;
    align-items: top;
    justify-content: flex-start;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 10%;
    height: 20%;
  }

  .video-par2 {
    margin-top: 20px;
    display: flex;
    width: 100%;
    object-fit: contain;
    justify-content: space-between;
  }

  #musee-horiz {
    width: 100%;
    min-height: 500px;
    margin-top: 20px;
  }

  #musee-carre, #musee-vertical {
    width: 49%;
    min-height: 400px;
  }
}
