

img {
  border-radius: 15px;
  width: 100%;
}
.logo{
  max-width: 300px;
    border-radius: 0px;
}

.fleche {
  max-width: 30px;
  margin-left: 10px;
}
#up img{
  margin-left: 0px;
}

.fleche-rotate {
  transform: rotate(-90deg);
  margin-bottom: 10px;
  margin-left: 10px;
  max-width: 30px;
}

.right{
  transform: rotate(-90deg);
  margin-left: 0px;
}
.left{
    transform: rotate(90deg);
    margin-left: 0px;
  }





/*PROJET______________________________________________*/

.img-projet{
  max-width: 1200px;
  margin-top: 20px;
}
.img-mobile{
  margin-top: 20px;
  display: flex;
  width: 100%;
  object-fit: contain;
  justify-content: space-between;
}

.img-mobile img{
  width: 32%;
  height:auto;
}
.img-par2{
  margin-top: 20px;
  display: flex;
  width: 100%;
  object-fit: contain;
  justify-content: space-between;
}

.img-par2 img{
  width: 49%;
  height:auto;
}
