@media only screen and (max-width: 300px) {

}
@media only screen and (min-width: 301px) {
    html, body{
      width: 100%;
      overflow-x: hidden;
    }
    .wrapper {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 0px;
    }
    li{
      font-size:1em;
      line-height: 1.5em;
      margin-left: 0px;
    }
    p {
      font-size: 0.8em;
      line-height: 1.2em;
    }

    h1 {
      font-size: 3.2em;
      line-height: 1.1em;
    }

    h2 {
      font-size: 3.5em;
      line-height: 1em;
    }

    h3 {
      font-size: 1.4em;
      line-height: 1.2em;
    }

    h4 {
      font-size: 1.4em;
      line-height: 1.2em;
    }

    .projet-slider h4{
      font-size: 2em;
    }

    h5 {
      font-size:0.8em;
      line-height: 1.5em;
    }

    h6 {
      line-height: 2em;
      font-size: 14px;
    }

        /* MENU ________________________________*/
        /*MENU____________________________________________________________________________________*/
        #header {
          width: 92%;
          margin: 0 auto;
          padding-top: 20px;
          padding-bottom: 0.5em;
        }

        #menu {
          height: 10vh;
          width: 100%;
          display: block;
          justify-content:space-between;
          margin-bottom: 20px;
          align-items: center;
        }

        #entrees {
          display: flex;
          justify-content: space-between;
          padding: 10px 0  0 0;
          margin: 10px 0 10px 0;
        }

        .entree-menu a {
          padding-left: 0px;
          padding-right: 0px;
          padding-top: 0px;
          padding-bottom: 0px;
          border: none;
        }

    /* FOOTER ________________________________*/
    footer {
      margin-top: 5em;
      margin-bottom: 10px;
    }

    footer h2 {
      margin-bottom: 0.5em;
    }

    #questioncontact {
      max-width: 130px;
      display: none;
    }

    #moyenscontact {
      display: block;
      margin-bottom: 30px;
    }

    #infoscontact {
      display: flex;
      align-items: flex-end;
    }

    .cafe, .telephone, .mail {
      margin-right: 0px;
      margin-top: 30px;
    }

    /*HOME ________________________________*/
    /*BASELINE____________________________________________________________________________________*/
    #section-1 {
      width: 92%;
      margin: 0 auto;
      padding-top: 5vh;
    }

    #relatif {
      position: relative;
      top: 40%;
      left: 20px;
      display: none;
    }

    #designer {
      grid-column: 1 / 5;
      justify-content: space-between;
      display: flex;
    }

    #me {
      max-width: 100%;
    }

    #experiences {
      grid-column: 1 / 5;
      text-align: left;
      padding-top: 20px;
    }

    #expertises {
      padding-top: 4em;
      max-width: 100%;
      display: block;
      padding-bottom: 5em;
    }

    .expertises {
      margin-top: 15px;
      margin-right: 0px;
      display: block;
    }
    .expertise{
      margin-right: 30px;
    }

    .identitevisuelle, .medias, .print {
      margin-top: 30px;
      margin-right: 0px;
    }

    /*PROJETS ________________________________*/
    /*REALISATIONS ________________________________*/
    #section-2 {
      width: 100%;
      margin: 0 auto;
    }
    #nav {
      width: 92%;
      margin: 0 auto;
      display: block;
      }
    #navrealisations {
      justify-content: space-between;
      align-items: baseline;
      padding-bottom: 2em;
      padding-top: 2em;
    }

    #archive {
      align-items: baseline;
      display: block;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    #archive .tags{
      margin: 0;
      padding: 0;
    }

    #clientarchive {
      grid-column: 2 / 5;
    }

    #datearchive {
      grid-column: 1;
    }

    #tagbouton {
      align-items: baseline;
      grid-column: 6/11;
      display: flex;
      justify-content: space-between;
    }

    #tagbouton .bouton-secondaire {
      display: none;
    }

    /*BIOGRAPHIE____________________________________________________________________________________*/
    #section-3 {
      padding-top: 5em;
      padding-bottom: 2em;
    }

    #phototxt {
      grid-column: 1 / 3;
      align-items: flex-end;
      justify-content: space-between;
    }

    #phototxt img {
      margin-right: 15%;
    }

    #biographie {
      grid-column: 1 / 5;
      text-align: left;
      padding-top: 1em;
    }

    /* PHOTOS ________________________________ */
    .logo {
      min-width: 150px;
      max-width: 200px;
      border-radius: 0px;
    }

    .img-slider {
      width: 38vh;
      max-height: 450px;
    }

    .fleche-rotate {
      max-width: 20px;
    }

    .img-slider-vert {
      width: 38vh;
      max-height: 450px;
    }

    .projet-slider img {
      margin-bottom: 0.5em;
    }
    /* PAGE PROJET ________________________________________*/
    .projet {
      display: block;
      justify-content: space-between;
    }
    .projet p{
      margin-top: 10px;
      margin-bottom: 20px;
    }
    .projet h1{
      margin-bottom: 10px;
    }
    .galerie-projet {
      width: 100%;
      padding-left: 0%;
      margin-top: 0px;
    }

    .info-projet {
      display: block;
      width: 100%;
      margin-top: 0px;
      align-items: baseline;
      justify-content: flex-start;
      align-items: center;
      position: -webkit-sticky;
      position:inherit;
      top: 0%;
      height: 20%;
    }
    .label-container{
      display: none;
    }
    .video-par2 {
      margin-top: 20px;
      display: flex;
      width: 100%;
      object-fit: contain;
      justify-content: space-between;
    }

    #musee-horiz {
      width: 100%;
      min-height: 500px;
      margin-top: 20px;
    }

    #musee-carre, #musee-vertical {
      width: 49%;
      min-height: 400px;
    }

}

@media only screen and (min-width: 600px) {
  html, body{
    width: 100%;
    overflow-x: hidden;
  }
  .wrapper {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 0px;
  }
  li{
    font-size: 0.9em;
    line-height: 1.5em;
    margin-left: 50px;
  }
  p {
    font-size: 0.7em;
    line-height: 1.5em;
  }

  h1 {
    font-size: 4.5em;
    line-height: 1em;
  }

  h2 {
    font-size: 5em;
  }

  h3 {
    font-size: 1.5em;
    line-height: 1.3em;
  }

  h4 {
    font-size: 1.3em;
    line-height: 1.2em;
  }


  h5 {
    font-size: 0.8em;
    line-height: 1.5em;
  }

  h6 {
    line-height: 2em;
    font-size: 14px;
  }
  /*MENU____________________________________________________________________________________*/
  #header {
    width: 92%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 2em;
    align-items: center;
  }

  #menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
  }

  #entrees {
    display: flex;
    justify-content: space-between;
  }

  .entree-menu a {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: none;
  }

  /* FOOTER ________________________________*/
  footer {
    margin-top: 5em;
    margin-bottom: 10px;
  }

  footer h2 {
    margin-bottom: 0.7em;
  }

      #questioncontact {
        max-width: 130px;
        display: none;
      }

      #moyenscontact {
        display: block;

      }

      #infoscontact {
        display: flex;
        align-items: flex-end;
      }

      .cafe, .telephone, .mail {
        margin-right: 0px;
        margin-top: 20px;
      }



  /*HOME ________________________________*/
  /*BASELINE____________________________________________________________________________________*/
  #section-1 {
    width: 92%;
    margin: 0 auto;
    padding-top: 10vh;
  }

  #relatif {
    position: relative;
    top: 40%;
    left: 20px;
    display: contents;
  }

  #designer {
    grid-column: 1 / 10;
    justify-content: space-between;
    display: flex;
  }

  #me {
    max-width: 80%;
  }

  #experiences {
    grid-column: 2 / 11;
    text-align: right;
    padding-top: 20px;
  }

  #expertises {
    padding-top: 7em;
    max-width: 40%;
    display: flex;
    padding-bottom: 10em;
  }

  .expertises {
    margin-top: 0px;
    display: block;
    margin-right: 0px;
  }
  .expertise{
    margin-right: 0px;
  }


  .identitevisuelle, .medias, .print {
    margin-top: 30px;
    margin-right: 0px;
  }

  /*PROJETS ________________________________*/
  /*REALISATIONS ________________________________*/
  #section-2 {
    width: 100%;
    margin: 0 auto;
  }
  #nav{
    display: flex;
  }
  #navrealisations {
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 2em;
    padding-top: 3em;
  }

  #archive {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #clientarchive {
    grid-column: 2 / 4;
  }

  #datearchive {
    grid-column: 1;
  }

  #tagbouton {
    align-items: baseline;
    grid-column: 5/9;
    display: flex;
    justify-content: space-between;
  }

  #tagbouton .bouton-secondaire {
    display: none;
  }

  /*BIOGRAPHIE____________________________________________________________________________________*/
  #section-3 {
    padding-top: 10em;
    padding-bottom: 2em;
  }

  #phototxt {
    grid-column: 1 / 4;
    align-items: flex-end;
    justify-content: space-between;
  }

  #phototxt img {
    margin-right: 6%;
  }

  #biographie {
    grid-column: 6 / 11;
    text-align: right;
    padding-top: 0em;
  }

  /* PHOTOS ________________________________ */
  .logo {
    min-width: 150px;
    max-width: 200px;
    border-radius: 0px;
  }

  .fleche-rotate {
    max-width: 20px;
  }

  .img-slider {
    width: 65vh;
    max-height: 650px;
    max-width: 600px;
  }

  .img-slider-vert {
    width: 40vh;
    max-height: 650px;
    max-width: 450px;
  }

  .projet-slider img {
    margin-bottom: 2em;

  }
  .projet-slider h4{
    font-size: 2.5em;
  }

  /* PAGE PROJET ________________________________________*/
  .projet {
    display: flex;
    justify-content: space-between;
  }
  .projet p{
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .projet h1{

    margin-bottom: 0px;
  }

  .galerie-projet {
    width: 60%;
    padding-left: 5%;
    margin-top: 0px;
  }

  .info-projet {
    display: block;
    width: 30%;
    margin-top: 20px;
    align-items: baseline;
    justify-content: flex-start;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 5%;
    height: 20%;
  }
  .label-container{
    display: flex;
  }
  .video-par2 {
    margin-top: 20px;
    display: flex;
    width: 100%;
    object-fit: contain;
    justify-content: space-between;
  }

  #musee-horiz {
    width: 100%;
    min-height: 500px;
    margin-top: 20px;
  }

  #musee-carre, #musee-vertical {
    width: 49%;
    min-height: 400px;
  }
}
@media only screen and (min-width: 1024px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 0px;
  }

  p {
    font-size: 0.7em;
    line-height: 1.5em;
  }

  h1 {
    font-size: 6em;
    line-height: 1em;
  }

  h2 {
    font-size: 5em;
  }

  h3 {
    font-size: 1.7em;
    line-height: 1.5em;
  }

  h4 {
    font-size: 1.3em;
    line-height: 30px;
  }


  h5 {
    font-size: 0.9em;
    line-height: 1.5em;
  }

  h6 {
    line-height: 2em;
    font-size: 14px;
  }

  /* FOOTER ________________________________*/
  footer {
    margin-top: 5em;
    margin-bottom: 10px;
  }

  footer h2 {
    margin-bottom: 2em;
  }

  #questioncontact {
    max-width: 130px;
    display: none;
  }

  #moyenscontact {
    display: flex;
  }

  #infoscontact {
    display: flex;
  }

  .cafe, .telephone, .mail {
    margin-right: 40px;
    margin-top: 0px;
  }

  /* MENU ________________________________*/
  /*MENU____________________________________________________________________________________*/
  #header {
    width: 92%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 2em;
    align-items: center;
  }

  #menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
  }

  #entrees {
    display: flex;
    justify-content: flex-end;
  }
  .entree-menu {
    margin-left: 50px;
  }

  .entree-menu a {
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: none;
  }

  /*HOME ________________________________*/
  /*BASELINE____________________________________________________________________________________*/
  #section-1 {
    width: 92%;
    margin: 0 auto;
    padding-top: 5vh;
  }

  #relatif {
    position: relative;
    top: 40%;
    left: 20px;
    display: contents;
  }

  #designer {
    grid-column: 1 / 10;
    justify-content: space-between;
    display: flex;
  }

  #me {
    max-width: 80%;
  }

  #experiences {
    grid-column: 2 / 11;
    text-align: right;
    padding-top: 20px;
  }

  #expertises {
    padding-top: 7em;
    max-width: 40%;
    display: flex;
    padding-bottom: 10em;
  }

  .expertises {
    margin-top: 0px;
    display: block;
    margin-right: 0px;
  }
  .expertise{
    margin-right: 0px;
  }


  .identitevisuelle, .medias, .print {
    margin-top: 30px;
    margin-right: 0px;
  }

  /*PROJETS ________________________________*/
  /*REALISATIONS ________________________________*/
  #section-2 {
    width: 100%;
    margin: 0 auto;
  }

  #navrealisations {
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 2em;
    padding-top: 3em;
  }

  #archive {
    align-items: baseline;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #clientarchive {
    grid-column: 2 / 5;
  }

  #datearchive {
    grid-column: 1;
  }

  #tagbouton {
    align-items: baseline;
    grid-column: 6/11;
    display: flex;
    justify-content: space-between;
  }

  #tagbouton .bouton-secondaire {
    display: none;
  }

  /*BIOGRAPHIE____________________________________________________________________________________*/
  #section-3 {
    padding-top: 10em;
    padding-bottom: 2em;
  }

  #phototxt {
    grid-column: 1 / 4;
    align-items: flex-end;
    justify-content: space-between;
  }

  #phototxt img {
    margin-right: 6%;
  }

  #biographie {
    grid-column: 6 / 11;
    text-align: right;
    padding-top: 0em;
  }

  /* PHOTOS ________________________________ */
  .logo {
    max-width: 200px;
    border-radius: 0px;
  }

  .img-slider {
    width: 90vh;
    max-height: 650px;
    max-width: 800px;
  }

  .img-slider-vert {
    width: 60vh;
    max-height: 650px;
    max-width: 450px;
  }

  .fleche-rotate {
    max-width: 20px;
  }


  .projet-slider img {
    margin-bottom: 2em;
  }
  .projet-slider h4{
    font-size: 2.5em;
  }

  /* PAGE PROJET ________________________________________*/
  .projet {
    display: flex;
    justify-content: space-between;
  }
  .projet p{
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .projet h1{

    margin-bottom: 0px;
  }

  .galerie-projet {
    width: 60%;
    padding-left: 5%;
    margin-top: 0px;
  }

  .info-projet {
    display: block;
    width: 30%;
    margin-top: 20px;
    align-items: baseline;
    justify-content: flex-start;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 5%;
    height: 20%;
  }

  .video-par2 {
    margin-top: 20px;
    display: flex;
    width: 100%;
    object-fit: contain;
    justify-content: space-between;
  }

  #musee-horiz {
    width: 100%;
    min-height: 500px;
    margin-top: 20px;
  }

  #musee-carre, #musee-vertical {
    width: 49%;
    min-height: 400px;
  }
}

@media only screen and (min-width: 1224px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 0px;
  }
  li{
    font-size: 0.8em;
    line-height: 1.5em;
  }
  p {
    font-size: 0.8em;
    line-height: 1.5em;
  }

  h1 {
    font-size: 7em;
    line-height: 1em;
  }

  h2 {
    font-size: 4.5em;
  }

  h3 {
    font-size: 2em;
    line-height: 1.2em;
  }

  h4 {
    font-size: 1.3em;
    line-height: 30px;
  }

  h5 {
    font-size: 0.8em;
    line-height: 1.5em;
  }

  h6 {
    line-height: 2em;
    font-size: 14px;
  }
  /*MENU____________________________________________________________________________________*/
  #header {
    width: 92%;
    margin: 0 auto;
    padding-top: 0px;
    padding-bottom: 0em;
    align-items: center;
  }

  #menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
  }

  #entrees {
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
  }

  .entree-menu a {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: none;
  }


  /* FOOTER ________________________________*/
  footer {
    margin-top: 4em;
    margin-bottom: 10px;
  }

  footer h2 {
    margin-bottom: 2em;
  }

  #questioncontact {
    display: block;
    max-width: 150px;
  }

  #moyenscontact {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  #infoscontact {
    display: flex;
    align-items: center;
  }

  .cafe, .telephone, .mail {
    margin-right: 40px;
    margin-top: 30px;
  }

  /*HOME ________________________________*/
  /*BASELINE____________________________________________________________________________________*/
  #section-1 {
    width: 92%;
    margin: 0 auto;
    padding-top: 5vh;
  }

  #relatif {
    position: relative;
    top: 40%;
    left: 70px;
  }

  #designer {
    grid-column: 1 / 9;
    justify-content: space-between;
  }

  #me {
    max-width: 80%;
  }

  #experiences {
    grid-column: 3 / 11;
    text-align: right;
  }

  #expertises {
    padding-top: 3em;
    max-width: 40%;
    display: flex;
    padding-bottom: 8em;
  }
  .expertises {
    margin-top: 10px;
    margin-right: 0px;
    display: block;
  }
  .expertise{
    margin-right: 0px;
  }
  .identitevisuelle, .medias, .print {
    margin-top: 30px;
    margin-right: 0px;
  }
  /*PROJETS ________________________________*/
  /*REALISATIONS ________________________________*/
  #section-2 {
    width: 100%;
    margin: 0 auto;
  }
  #navrealisations {
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 2em;
    padding-top: 3em;
  }

  #archive {
    align-items: baseline;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 0px;
    padding-top: 20px;
    padding-bottom: 10px;
  }

  #clientarchive {
    grid-column: 2 / 5;
  }

  #datearchive {
    grid-column: 1;
  }

  #tagbouton {
    align-items: center;
    grid-column: 6/11;
    display: flex;
    justify-content: space-between;
  }

  #tagbouton .bouton-secondaire {
    display: contents;
  }

  /*BIOGRAPHIE____________________________________________________________________________________*/
  #section-3 {
    padding-top: 10em;
    padding-bottom: 6em;
    align-items: flex-end;
  }

  #phototxt {
    grid-column: 1 / 4;
    align-items: flex-end;
    justify-content: space-between;
  }

  #phototxt img {
    margin-right: 6%;
  }

  #biographie {
    grid-column: 6 / 11;
    text-align: right;
    padding-top: 0em;
  }

  /* PHOTOS ________________________________ */
  .logo {
    max-width: 200px;
    border-radius: 0px;
  }
  .img-slider {
    width: 100vh;
    max-height: 650px;
    max-width: 800px;
  }

  .img-slider-vert {
    width: 50vh;
    max-height: 650px;
    max-width: 450px;
  }

  .fleche-rotate {
    max-width: 20px;
  }


  .projet-slider img {
    margin-bottom: 2em;
  }
  .projet-slider h4{
    font-size: 1.8em;
  }
  /* PAGE PROJET ________________________________________*/
  .projet {
    display: flex;
    justify-content: space-between;
  }

  .projet p{
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .projet h1{
    font-size: 6em;
    margin-bottom: 20px;
  }
  .galerie-projet {
    width: 60%;
    padding-left: 5%;
    margin-top: 0px;
  }

  .info-projet {
    display: block;
    width: 30%;
    margin-top: 20px;
    align-items: baseline;
    justify-content: flex-start;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 5%;
    height: 20%;
  }

  .video-par2 {
    margin-top: 20px;
    display: flex;
    width: 100%;
    object-fit: contain;
    justify-content: space-between;
  }

  #musee-horiz {
    width: 100%;
    min-height: 500px;
    margin-top: 20px;
  }

  #musee-carre, #musee-vertical {
    width: 49%;
    min-height: 400px;
  }
}
