/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@font-face {
font-family: 'Barlow Regular';
src:  url('fonts/barlow/Barlow-Regular.ttf');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Barlow ExtraLightItalic';
src:  url('fonts/barlow/Barlow-ExtraLightItalic.ttf');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Barlow LightItalic';
src:  url('fonts/barlow/Barlow-LightItalic.ttf');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Barlow ExtraLight';
src:  url('fonts/barlow/Barlow-ExtraLight.ttf');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Barlow Light';
src:  url('fonts/barlow/Barlow-Light.ttf');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Barlow Medium';
src:  url('fonts/barlow/Barlow-Medium.ttf');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Barlow Italic';
src:  url('fonts/barlow/Barlow-Italic.ttf');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Poppins Light';
src:  url('fonts/poppins/Poppins-Light.ttf.eot');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Poppins';
src:  url('fonts/poppins/Poppins-Regular.ttf');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Poppins SemiBold';
src:  url('fonts/poppins/Poppins-SemiBold.ttf.ttf');
font-weight: normal;
font-style: normal;
}


html {
  font-size: 15px;

  --h1-font: 'Barlow Medium', sans-serif;
  --h2-font: 'Barlow Medium', sans-serif;
  --h3-font: 'Poppins', sans-serif;
  --h4-font: 'Barlow Light', sans-serif;
  --h5-font: 'Barlow ExtraLight', sans-serif;
  --p-font: 'Barlow Light', sans-serif;
--chiffres-font: 'Barlow Medium', sans-serif;
  --text-color-normal: black;
  --background-color: #DFDFDF;
  --orange-color: #FF600A;
  --beige-color: #F6F3EC;
  --dark-grey-color: #1E1C1C;
  --p-italic-font:'Barlow LightItalic', sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
}

strong{
  font-weight: bolder;
}

/*couleurs des fonts*/
p, h1, h2, h3{
  color: var(--text-color-normal);
}
p {
  font-family: var(--p-font);
  font-size: 1.1em;
  line-height: 1.8em;
  font-weight: normal;
  margin: 0;
}

.projet p{
  line-height: normal;
  margin: 0 auto;
}
.projet h3{
  line-height: normal;
margin: 0 auto;
}
h1 {
  font-family: var(--h1-font);
  font-size: 5em;
  line-height: 84px;
  font-weight: normal;
  line-height: normal;
  margin: 0;
}

h2 {
    font-family: var(--h2-font);
    font-size: 4em;
    line-height: 1.1em;
    font-weight: normal;
    margin: 0;
  }

  h3 {
    font-family: var(--h3-font);
    font-size: 2em;
    letter-spacing: 5px;
    font-weight: normal;
    margin: 0;
  }

 h4 {
   font-family: var(--h4-font);
   line-height: 70px;
   font-size: 1.7em;
   font-weight: normal;
   margin: 0;
  }
  h5 {
    font-family: var(--h5-font);
    line-height: 70px;
    font-size: 5em;
    font-weight: normal;
    margin: 0;
   }

.chiffres{
  font-family: var(--chiffres-font);
  font-size: 16em;
  height: 100%;
  color: var(--orange-color);
  vertical-align: sub;
}
