/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@font-face {
font-family: 'Ogg BoldItalic';
src:  url('fonts/ogg/Ogg-BoldItalic.ttf');
font-weight: bold;
font-style: normal;
}
@font-face {
    font-family: 'ogg';
    src: url("fonts/ogg/Ogg-Italic.otf") format("opentype");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'suisse';
    src: url("fonts/suissework/SuisseWorksBookItalic.otf") format("opentype");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'worksans';
    src: url("fonts/worksans/WorkSans-Light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'worksansthin';
    src: url("fonts/worksans/WorkSans-Thin.ttf") format("truetype");
    font-style: normal;
}

@font-face {
font-family: 'Barlow Regular';
src:  url('fonts/barlow/Barlow-Regular.ttf');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Barlow ExtraLightItalic';
src:  url('fonts/barlow/Barlow-ExtraLightItalic.ttf');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Barlow LightItalic';
src:  url('fonts/barlow/Barlow-LightItalic.ttf');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Barlow ExtraLight';
src:  url('fonts/barlow/Barlow-ExtraLight.ttf');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Barlow Light';
src:  url('fonts/barlow/Barlow-Light.ttf');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Barlow Medium';
src:  url('fonts/barlow/Barlow-Medium.ttf');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Barlow Italic';
src:  url('fonts/barlow/Barlow-Italic.ttf');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Poppins Light';
src:  url('fonts/poppins/Poppins-Light.ttf.eot');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Poppins';
src:  url('fonts/poppins/Poppins-Regular.ttf');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Poppins SemiBold';
src:  url('fonts/poppins/Poppins-SemiBold.ttf.ttf');
font-weight: normal;
font-style: normal;
}


html {
  font-size: 15px;

  --h1-font: 'worksans', sans-serif;
  --h2-font: 'ogg', sans-serif;
  --h3-font: 'ogg', sans-serif;
  --h4-font: 'worksans', sans-serif;
  --h5-font: 'worksans', sans-serif;
  --p-font: 'worksans', sans-serif;

  --text-color-normal: white;
  --background-color: black;
  --orange-color: #F6F3EC;
  --beige-color: black;
  --dark-grey-color: white;
  --p-italic-font:'worksans', sans-serif;
  scroll-behavior: smooth;
}
#contact{
  font-style: italic;
}
p.item{
  font-family: 'ogg';
  font-size: 18px;
}
.ogg{
  font-family: 'ogg';
}
.italicc {
  font-style: italic;
}
.worksans{
  font-family: 'worksans';
}
body {
  background-color: var(--background-color);
}

strong{
  font-weight: bolder;
}

/*couleurs des fonts*/
p, h1, h2, h3{
  color: var(--text-color-normal);
}
p {
  font-family: var(--p-font);
  font-size: 1.1em;
  line-height: 1.8em;
  font-weight: normal;
  margin: 0;
}

.projet p{
  line-height: normal;
  margin: 0 auto;
}
.projet h3{
  line-height: normal;
margin: 0 auto;
}
h1 {
  font-family: var(--h1-font);
  font-size: 5em;
  line-height: 84px;
  font-weight: lighter;
  line-height: normal;
  margin: 0;
}

h2 {
    font-family: var(--h2-font);
    font-size: 4em;
    line-height: 1.1em;
    font-weight: normal;
    margin: 0;
  }

  h3 {
    font-family: var(--h3-font);
    font-size: 2em;
    font-weight: normal;
    margin: 0;
    font-style: normal;
    margin-bottom: 1em;
    line-height: 2em;

  }
footer h3{
      letter-spacing: 0.1em;
}
 h4 {
   font-family: var(--h4-font);
   line-height: 70px;
   font-size: 1.7em;
   font-weight: normal;
   margin: 0;
  }
  h5 {
    font-family: var(--h5-font);
    line-height: 35px;
    font-size: 2em;
    font-weight: normal;
    margin: 0;
   }

.chiffres{
  font-family: var(--chiffres-font);
  font-size: 16em;
  height: 100%;
  color: var(--orange-color);
  vertical-align: sub;
}
#section4 h1{
  color: white;
}
