/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@font-face {
  font-family: 'feature';
  src: url("fonts/feature/FeatureDisplay-NormalLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
font-family: 'ogg light';
src:  url('fonts/ogg/Ogg-Light.ttf') format('truetype'),
      /*url('fonts/cako/cako-thin-webfont.eot?#iefix') format('embedded-opentype'),
      url('fonts/cako/cako-thin-webfont.svg') format('svg'),
      url('fonts/cako/cako-thin-webfont.woff') format('woff');*/
font-weight: normal;
font-style: normal;
}


@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300..700&display=swap');

html {
  font-size: 15px;
  --h1-font: 'feature', sans-serif;
  --h2-font: 'feature', sans-serif;
  --h3-font: 'feature', sans-serif;
  --h4-font: 'feature', sans-serif;
  --h5-font: 'Overpass Mono', monospace;
  --h6-font: 'Overpass Mono', monospace;
  --p-font: 'Overpass Mono', monospace;
  --text-color-light: #FAF7F5; /*clair ancien :ECE8DF*/
  --text-color-dark: #121415;
  --background-color: #B0523E;
}

body {
  background-color: var(--background-color);
}

strong {
  font-weight: bolder;
}

/*couleurs des fonts*/
p, h1, h2, h3, h4, h5, h6 {
  color: var(--text-color-light);
}

p {
  font-family: var(--p-font);
  font-weight: 300;
  margin: 0;
  opacity: 0.8;
}

h1 {
  font-family: var(--h1-font);
  font-weight: lighter;
  margin: 0;
}

h2 {
  font-family: var(--h2-font);
  font-weight: normal;
  margin: 0;
}

h3 {
  font-family: var(--h3-font);
  font-weight: 300;
  margin: 0;
}

h4 {
  font-family: var(--h4-font);
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0.5px;
  margin: 0;
  color: var(--text-color-light);
}

h5 {
  font-family: var(--h5-font);
  font-weight: lighter;
  margin: 0;
  text-transform: uppercase;
}

h6 {
  font-family: var(--h6-font);
  font-weight: 200;
  margin: 0;
  text-transform: uppercase;
}

.droite {
  text-align: right;
}

.gauche {
  text-align: left;
}

.italic {
  font-style: italic;
}
